{% extends 'base.html' %}

{% block content %}
<p class="fs-1 text-center">This is Your Post Feed!</p>
{% for p in posts %}
<div>
    <a class="card text-decoration-none text-dark" href='{{ url_for("blog.individualPost", id=p[0].id) }}' style="width: 40vw;">
        <div class="card-body">
          <div class="row">
            <h5 class="col">{{p[1].username}}</h5>
            <h5 class="col">{{p[0].date_created}}</h5>
            </div>
          <h5 class="card-title">{{ p[0].title }}</h5>
          <p class="card-text">{{ p[0].content }}</p>
        </div>
      </a>
</div>
{% endfor %}
{% endblock content %}