{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href='{{ url_for("blog.blogHome")}}'>Back to Feed</a>
  </li>
  {% if post[0].parent %}
  <li class="nav-item">
    <a class="nav-link" href='{{ url_for("blog.individualPost", id=post[0].parent) }}'>Back to Above Post</a>
    {% endif %}  
  </li>
</ul>

<h1>This is my Individual Post Page</h1>
<div class="instagram-rip-off">
    <div class="card" style="width: 40vw;">
        <div class="card-body">
          <div class="row">
            <h5 class="col">{{post[1].username}} replied:</h5>
            <h5 class="col">{{post[0].date_created}}</h5>
            </div>
          <h5 class="card-title">{{ post[0].title }}</h5>
          <p class="card-text">{{ post[0].content }}</p>
          {% if post[0].child %}
            <a class="card-link" href='{{ url_for("blog.individualPost", id=post[0].id) }}' style="width: 40vw;">See replies</a>
          {% endif %}
        </div>
      </div>
    </div>
    <a class='btn btn-secondary' href='{{ url_for("blog.createPost", id = post[0].id) }}'>Comment on this Post</a>
    {% if current_user.id == post[0].user_id %}
    <a class='btn btn-primary' href='{{ url_for("blog.updatePost", id = post[0].id) }}'>Update Post</a>

    
<!-- DELETE BUTTON -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Post</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this post? This action cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
        <form action="{{ url_for('blog.deletePost', id=post[0].id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
      </div>
    </div>
  </div>
{% endif %}
{% if post[0].child %}
  {% for child in child_post  %}

<div class ="container flex-row-reverse">


  <div class="comments">
      <div class="card" style="width: 40vw;">
          <div class="card-body">
            <div class="row">
            <h5 class="col">{{child[1].username}} replied:</h5>
            <h5 class="col">{{child[0].date_created}}</h5>
            </div>
            <h5 class="card-title">{{ child[0].title }}</h5>
            <p class="card-text">{{ child[0].content }}</p>
            {% if child[0].child %}
            <a class="card-link" href='{{ url_for("blog.individualPost", id=child[0].id) }}' style="width: 40vw;">See replies</a>
            {% endif %}
          </div>
        </div>
      </div>
      <a class='btn btn-secondary' href='{{ url_for("blog.createPost", id = child[0].id) }}'>Comment on this Post</a>
      {% if current_user.id == child[0].user_id %}
      <a class='btn btn-secondary' href='{{ url_for("blog.updatePost", id = child[0].id) }}'>Update Post</a>


  <!-- DELETE BUTTON -->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Post</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this post? This action cannot be undone.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <form action="{{ url_for('blog.deletePost', id=child[0].id) }}" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </div>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock content %}